<p>
  <b>Description:</b>
  <%= @product.description %>
  <% @product.pictures.each do |picture| %>
    <%= image_tag picture.attachment.url %>
  <% end %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
